
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
  font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 }

nav span {
  display: inline-block;
  padding: 20px 10px;
  }
a {
    color: black;
  }
.logo {
  display: flex;
  padding-left: 30px;
  align-items: center;
  flex-grow: 1;
}
.logo img {
  margin-right: 10px;
}
.logo span {
  color: mediumaquamarine;
}
.container {
  display: flex;
  border: 1px solid black;
  width: 1200px;
  margin: auto;
  justify-content: space-between;
}
}
.column {
  display: flex;
  flex-direction: column;
  }
.column.large {
  width: 630px;
  }

.first.story span {
  border: 1px solid black;
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
.first.story p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}
.second.story {
  border: 1px solid black;
  display: block;
  margin-bottom: 20px;
  }

  .second.story h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .earth-image {
      background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .earth-image span {
      font-family: Georgia;
      font-weight: bold;
      font-size: 30px;
      color: white;
  }

.third.story {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
    }

.third.story h2 {
  }

.camera-image span {
  border: 1px solid black;
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.column.medium {
  border: 2px solid black;
  width: 300px;

  }

  .stories h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .stories p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
.cats span {
  border: 1px solid black;
  display: block;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.cats p {
  margin-top: 20px;
  margin-bottom: 20px;
  }

.column.small {
  border: 1px solid black;
  width: 240px;
}

.bites {
  border: 1px solid black;
  margin-bottom: 20px;
}
.bites h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  }
