
* {
  margin: 0;
  padding: 0;
}
body {

}
header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
  font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 }

nav span {
  display: inline-block;
  padding: 20px 10px;
  }
  a {
    color: black;
  }
.logo {
  display: flex;
  padding-left: 30px;
  align-items: center;
  flex-grow: 1;
}
.logo img {
  margin-right: 10px;
}
.logo span {
  color: mediumaquamarine;
}
.container {
  display: flex;
  border: 1px solid black;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.column.large {
  width: 630px;
  }

.first.story span {
  border: 1px solid black;
  display: block;
}
.first.story p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.second.story {
  border: 1px solid black;
  display: block;
  margin-bottom: 15px;
  }

  .second.story h2 {
    margin-bottom: 15px;
  }
.earth-image span {
  border: 1px solid black;
  display: block;
}
.third.story {
  display: block;
  margin-bottom: 15px;
  }
.third.story h2 {
  margin: 15px;
}
.camera-image span {
  border: 1px solid black;
  display: block;
}

.column.medium {
  border: 2px solid black;
  display: flex;
  width: 300px;
  flex-direction: column;
  align-content: space-between;
}
.cat-story span {
  border: 1px solid black;
}
